<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Admin panel</h1>
<div>
    <table class="table table-striped">

        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        <tr th:each="person : ${allUsers}">

            <td th:utext="${person.getId()}">...</td>
            <td th:utext="${person.getName()}">...</td>
            <td th:utext="${person.getSurname()}">...</td>
            <td th:utext="${person.getAge()}">...</td>
            <td th:utext="${person.getUsername()}">...</td>
            <td th:utext="${person.getRoles()}">...</td>

            <td>
                <!--                <a th:href="@{/admin/{id}/edit (id=${person.getId()})}">edit</a>-->
                <form th:method="UPDATE" th:action="@{/admin/{id}/edit (id=${person.getId()})}">
                    <input type="submit" value="Edit" class = "btn btn-info"/>
                </form>

            </td>
            <td>

                <form th:method="DELETE" th:action="@{/admin/{id}(id=${person.getId()})}">
                    <input type="submit" value="Delete" class = "btn btn-danger"/>
                </form>

            </td>

        </tr>
    </table>

</div>

<a href="add-User.html"> Add User </a>
<br/><br/>
<a href="/logout"> Logout </a>
<br/><br/>

</body>
</html>

