<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<h1>User List</h1>
<div>
  <table border="1">

    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Username</th>
      <th>Password</th>
      <th>Edit</th>
    </tr>

    <tr th:each ="person : ${allUsers}">

      <td th:utext="${person.getId()}">...</td>
      <td th:utext="${person.getName()}">...</td>
      <td th:utext="${person.getSurname()}">...</td>
      <td th:utext="${person.getUsername()()}">...</td>
      <td th:utext="${person.getPassword()()}">...</td>

      <td>
        <a th:href="@{/admin/{id}/edit (id=${person.getId()})}">edit</a>
        <form th:method="DELETE" th:action="@{/admin/{id}(id=${person.getId()})}">
          <input type="submit" value="Delete"/>
        </form>

      </td>
    </tr>
  </table>

</div>

<a href="add-User.html"> Add User </a>
<br/><br/>
<a href="/logout"> Logout </a>
<br/><br/>

</body>
</html>

